html, body, #container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    padding-top: 50px;
}
input[type="radio"], input[type="checkbox"] {
    margin: 0;
}

td {
    padding-right: 3px !important;
    padding-bottom: 3px !important;
}

#sidebar {
    display: block;
    width: 0px;
    height: 100%;
    max-width: 100%;
    float: left;
}
#map {
    width: auto;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#loading {
    position: absolute;
    width: 220px;
    height: 19px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -110px;
    z-index: 20001;
}
#features {
    margin: 0px;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.sidebar-hide-btn {
    margin-top: -2px;
}
#aboutTabsContent {
    padding-top: 10px;
}
.progress-bar-full {
    width: 100%;
}
.white {
    color: #FFFFFF;
}
.panel-heading{
    width:100%;
}
.panel-body{
    width: 460px;
    padding-left: 10px;
    border-style: none;
}

.settings-header{
    min-height: 40px;
    background-color: #337ab7;
    color: #FFFFFF;
}
.settings-row{
    height: 60px;
    padding: 15px;
}

.settings-label{
    padding-top: 6px;
    height:40px;
}

.settings-icon{
    float: left;
    margin-right: 7px;
    padding-top: 4px;
}

.settings-align{
    text-align: center;
}
.settings{
    float: left;
}

.feature-row {
    cursor: pointer;
    width: 250px;
}
.nr{
    width: 60px !important;
}

.sidebar-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.sidebar-table {
    position: absolute;
    width: 100%;
    top: 100px;
    bottom: 0px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 15px;
}
.statbar-table {
    position: absolute;
    width: 100%;
    top: 140px;
    bottom: 0px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-footer{
    min-height:0;
    position:fixed;
    width: 100%;
}

.leaflet-control-layers {
    overflow: auto;
}
.leaflet-control-layers label {
    font-weight: normal;
    margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
    margin: 2px;
}
.table {
    margin-bottom: 0px;
}
.navbar .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
}
.navbar-collapse.in {
    overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
    margin-right: 15px;
}
.navbar-header .navbar-icon {
    line-height: 50px;
    height: 50px;
}
.navbar-header a.navbar-icon {
    margin-left: 25px;
}
.typeahead {
    background-color: #FFFFFF;
}
.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 4px;
    padding: 4px 0;
    width: 100%;
    max-height: 300px;
    overflow: auto;
}
.tt-suggestion {
    font-size: 14px;
    line-height: 20px;
    padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
    cursor: pointer;
}
.tt-suggestion p {
    margin: 0;
}
.tt-suggestion + .tt-suggestion {
    border-top: 1px solid #ccc;
}
.typeahead-header {
    margin: 0 5px 5px 5px;
    padding: 3px 0;
    border-bottom: 2px solid #333;
}
.has-feedback .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

.plus-minus {
    border: 1px solid #ccc;
    border-radius: 4px;
    width :48px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}


.table-header {
    padding: 2px !important;
    font-size: 9px !important;
    text-align: center;
}

.stat-table-header {
    padding: 2px !important;
    font-size: 12px !important;
    text-align: center;
}

#calc-btn, #run-btn{
    margin-bottom: 5px !important;
}

@media (max-width: 992px) {
    .navbar .navbar-brand {
        font-size: 18px;
    }
}
@media (max-width: 767px){
    #sidebar {
        display: none;
    }
    .url-break {
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    .dropdown-menu a i{
        color: #FFFFFF;
    }
}
/* Print Handling */
@media print {
    .navbar {
        display: none !important;
    }
    .leaflet-control-container {
        display: none !important;
    }
}







/*header {*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*left: 180px;*/
/*}*/

.hero-unit {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 1px;
    border-color: #878984;
    padding: 40px;
}

a.brand:hover {
    color: #a9ff00;
}

.figurehead {
    position: relative;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc;
    /*text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;*/
    color: rgb(72, 167, 35);
    opacity: 0.4;
    font-size: 36px;
    top:-10px;
    left:-10px;
}

/*#map {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 40px;*/
/*}*/

#right-panel {
    position: absolute;
    top: 7px;
    bottom:44px;
    right: 7px;
    width: 298px;
    overflow:auto;
}

label {
    font-weight: bold;
}

/*.ui-slider {*/
    /*margin: 14px;*/
/*}*/

#time-slider {
    width:400px;
}


/*#time-slider2 {*/
    /*width:400px;*/
/*}*/

#calendar {
    margin: 5px;
}

/*TODO: make this work*/
/*a.leaflet-popup-close-button {
  top: 3px;
  right: 3px;
}*/

input {
    vertical-align: baseline;
}

.leaflet-control-layers-list {
    margin-bottom: 0;
}

.speed-menu {
    padding-top: 10px;
    width: 10px;
    min-width: 10px;
}

#speed-slider {
    margin-left: auto;
    margin-right: auto;
}

/*.navbar .btn,*/
/*.navbar .btn-group {*/
    /*margin-top: 0;*/
    /*padding: 0;*/
    /*!*border: 0;*!*/
/*}*/

.navbar .nav > li > a.clock {
    padding: 0 3px 0 3px;
    text-align: center;
    margin-left:4px;
    margin-right:4px;
}

.view-notification {
    margin:3px;
}

.accordion {
    margin-bottom: 18px;
}

.accordion-group {
    margin-bottom: 2px;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.accordion-heading {
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-bottom: 1px solid #cccccc;
    *border: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    /*border-bottom-color: #b3b3b3;*/

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.accordion-heading:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    /* Buttons in IE7 don't get borders, so darken on hover */

    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}

.accordion-heading.active,
.accordion-heading:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.accordion-toggle {
    cursor: pointer;
}

a.accordion-toggle {
    color: #566a6c;
}


.accordion-inner {
    padding: 9px 15px;
    border-top: 1px solid #e5e5e5;
}

.collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -ms-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

.collapse.in {
    height: auto;
}

.broadcast-time {
    position: absolute;
    right: 0;
    font-size: 12px;
    color: #999999;
    padding-right: 5px;
    font-weight: 500;
}


