html, body, #container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    padding-top: 50px;
}
input[type="radio"], input[type="checkbox"] {
    margin: 0;
}

td {
    padding-right: 3px !important;
    padding-bottom: 3px !important;
}

#sidebar {
    display: block;
    width: 0px;
    height: 100%;
    max-width: 100%;
    float: left;
    position: relative;
}
#map {
    width: auto;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#loading {
    position: absolute;
    width: 220px;
    height: 19px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -110px;
    z-index: 20001;
}
#features {
    margin: 0px;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.sidebar-hide-btn {
    margin-top: -2px;
}
#aboutTabsContent {
    padding-top: 10px;
}
.progress-bar-full {
    width: 100%;
}
.white {
    color: #FFFFFF;
}
.panel-heading{
    width:100%;
}
.panel-body{
    width: 460px;
    padding-left: 10px;
    border-style: none;
}

.settings-header{
    min-height: 40px;
    background-color: #337ab7;
    color: #FFFFFF;
}
.settings-row{
    height: 60px;
    padding: 15px;
}

.settings-label{
    padding-top: 6px;
    height:40px;
}

.settings-icon{
    float: left;
    margin-right: 7px;
    padding-top: 4px;
}

.settings-align{
    text-align: center;
}
.settings{
    float: left;
}

.feature-row {
    cursor: pointer;
    width: 250px;
}
.nr{
    width: 60px !important;
}

.sidebar-table {
    position: absolute;
    width: 100%;
    top: 100px;
    bottom: 0px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 15px;
}
.statbar-table {
    position: absolute;
    width:800px;
    overflow: auto;
    padding: 10px;
    max-height: 180px;
}

.stat-label{
    font-size: 12px;
}


.navbar-toggle-btn{
    margin: 10px !important;
}

#zoom_group{
    float:right;
    margin: 10px !important;

}

#stat-heading{
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px !important;

}

.nav-footer{
    padding: 5px;
    min-height:0;
    position:fixed;
    width: 1000px;
    left:200px
}
.dropdown-menu{
    text-align: center !important;
    z-index: 1000;
}

.leaflet-control-layers {
    overflow: auto;
}
.leaflet-control-layers label {
    font-weight: normal;
    margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
    margin: 2px;
}
.table {
    margin-bottom: 0px;
}

.statbar {
    position: relative;
    height: 0px;
    /*display: block;*/
    /*max-height: 100%;*/

}

#stat-list tr  th{
    text-align:center;
}

.navbar-toggle-btn{
    float: right;
}

.navbar .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
}
.navbar-collapse.in {
    overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
    margin-right: 15px;
}
.navbar-header .navbar-icon {
    line-height: 50px;
    height: 50px;
}
.navbar-header a.navbar-icon {
    margin-left: 25px;
}


#add-point-btn{
    width: 200px;
    margin:auto;
    display:block;
}

.wrapper {
    text-align: center;
}

.convoy-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    width :48px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}


.table-header {
    padding: 2px !important;
    font-size: 9px !important;
    text-align: center;
}


#calc-btn, #run-btn{
    margin-bottom: 5px !important;
}







/*header {*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*left: 180px;*/
/*}*/

.hero-unit {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 1px;
    border-color: #878984;
    padding: 40px;
}

a.brand:hover {
    color: #a9ff00;
}

.figurehead {
    position: relative;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc;
    /*text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;*/
    color: rgb(72, 167, 35);
    opacity: 0.4;
    font-size: 36px;
    top:-10px;
    left:-10px;
}

/*#map {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 40px;*/
/*}*/

#right-panel {
    position: absolute;
    top: 7px;
    bottom:44px;
    right: 7px;
    width: 298px;
    overflow:auto;
}

label {
    font-weight: bold;
}

/*.ui-slider {*/
    /*margin: 14px;*/
/*}*/



/*#time-slider2 {*/
    /*width:400px;*/
/*}*/

#calendar {
    margin: 5px;
}

/*TODO: make this work*/
/*a.leaflet-popup-close-button {
  top: 3px;
  right: 3px;
}*/

input {
    vertical-align: baseline;
}

.leaflet-control-layers-list {
    margin-bottom: 0;
}

/*#play-pause{*/
    /*float: right;*/
    /*!*left: 50px;*!*/
/*}*/

.navbar-nav{
    width: 100%;
}

#time-slider {
    left:10px;
    width:350px;
    margin:5px 0px ;
}

#speed-input{
    top: 140px;
    width: 40px;
    margin-bottom: 5px;
    text-align: center;
    white-space: nowrap !important;
}

.speed-menu {
    min-width:50px !important;
    padding: 15px !important;
}

#speed-slider {
    margin-left: auto;
    margin-right: auto;
}

.speed-label {
    color: black !important;
}

/*.navbar .btn,*/
/*.navbar .btn-group {*/
    /*margin-top: 0;*/
    /*padding: 0;*/
    /*!*border: 0;*!*/
/*}*/

.navbar .nav > li.dropdown {
    padding: 0px;
    left: 460px;
    text-align: center;
}

.navbar .nav > li{
    padding-bottom: 0px;
}

#date-input{
    text-align: center;
}

#timepicker {
    padding: 0px 20px;
}
.bootstrap-datetimepicker-widget{
    right:auto !important;
}

#timepicker-input {
    text-align: center;
}

.view-notification {
    margin:3px;
}

.accordion {
    margin-bottom: 18px;
}

.accordion-group {
    margin-bottom: 2px;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.accordion-heading {
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-bottom: 1px solid #cccccc;
    *border: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    /*border-bottom-color: #b3b3b3;*/

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.accordion-heading:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    /* Buttons in IE7 don't get borders, so darken on hover */

    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}

.accordion-heading.active,
.accordion-heading:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.accordion-toggle {
    cursor: pointer;
}

a.accordion-toggle {
    color: #566a6c;
}


.accordion-inner {
    padding: 9px 15px;
    border-top: 1px solid #e5e5e5;
}

.collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -ms-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

.collapse.in {
    height: auto;
}

.broadcast-time {
    position: absolute;
    right: 0;
    font-size: 12px;
    color: #999999;
    padding-right: 5px;
    font-weight: 500;
}




.checkbox {
    position: relative;
    /*float:left;*/
    margin: 10px
}

.checkbox label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    border-radius: 4px;
}

.checkbox label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 6px;
    left: 6px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox label:hover::after {
    opacity: 0.3;
}

.checkbox input[type=checkbox] {
    visibility: hidden;
    position: relative !important;
}

.checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}
/* end .squaredThree */

.label-text {
    position: relative;
    left: 10px;
}

.input-group-my{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.zoom{
    border: none !important;
}